<%- include("partials/header.ejs") %>

<div id="posts-container">

  <% if(locals.allPosts){ 
    allPosts.forEach((post) => {%>

      <article class="post-card">
        <h2 class="post-title"><%= post.title %></h2>
        <h5 class="post-date"><%= post.date %></h5>
        <p class="post-content"><%= post.content %></p>
      </article>
    <%}) 
  } %>
</div>

<%- include("partials/footer.ejs") %>
